
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply w-full h-full;
}
body {
  @apply bg-fondo w-full h-full;
}
#__next {
  @apply h-full;
}

h1 { @apply text-5xl font-bold; }
h2 { @apply text-4xl font-semibold; }
h3 { @apply text-3xl font-medium; }
h4 { @apply text-2xl; }
h5 { @apply text-xl; }
h6 { @apply text-lg; }

a {
  @apply no-underline transition-all duration-150 hover:underline hover:text-lg;
}
label {
  @apply w-full font-medium text-lg;
}
button {
  @apply w-fit h-fit self-center border-solid border-2 rounded-lg px-5 py-1 hover:shadow-lg hover:text-lg transition-all duration-150;
}
input, input[type=text], input[type=password], input[type=email], input[type=textarea] {
  @apply flex w-full object-contain border-solid border-2 rounded-lg px-3 py-[0.1rem];
}
form {
  @apply h-fit flex flex-col gap-6 bg-fondo rounded-lg p-10;
}
.buttonLike {
  @apply w-fit h-fit border-solid border-2 rounded-lg px-5 py-1 hover:shadow-lg hover:text-lg hover:no-underline transition-all duration-150;
}

.iconButton {
  @apply w-16 h-16 p-2 rounded-lg transition-all duration-150 hover:cursor-pointer hover:bg-naranja hover:no-underline;
}

.cuentaButton {
  @apply w-full h-fit border-none rounded-lg bg-fondo hover:text-base hover:bg-azul hover:shadow-none;
}

.slideSection {
  @apply relative justify-center w-full h-full transition-all duration-500 hover:w-extendido;
}

.slideSection:hover p {
  @apply block animate-unhidde;
}

.ficha {
  @apply text-center flex flex-row w-fit self-center py-1 px-5 font-medium border-solid rounded-3xl border-2;
}

.loader {
  border: 1rem solid var(--fondo);
  border-top: 1rem solid var(--azul);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 2s linear infinite;
  justify-self: center;
  align-self: center;
}

.error {
  @apply text-rojo text-center;
}

.lessonNavigation {
  @apply w-fit py-1 px-3 border-solid border-[0.2rem] border-naranja rounded-lg self-center;
}
