
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@keyframes unhidde {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

:root {
  --azul: #2DA4FA;
  --naranja: #F9904F;
  --fondo: #FEF3EB;
  --logo: URL("/img/logo.png");
  --placeholder: URL("/img/placeholder.png")
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  color: black;
}
html {
  width: 100%;
  height: 100%;
}
h1 {
  text-align: center;
}
label {
  width: 100%;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
button {
  font-size: 1rem;
  line-height: normal;
  width: fit-content;
  height: fit-content;
  border: solid;
  border-width: 2px;
  border-radius: 0.5rem;
  border-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  align-items: center;
  transition: all 150ms;
  cursor: pointer;
  align-self: center;
}
button:hover {
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.75rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  background-color: var(--fondo);
}
a {
  text-decoration: none;
  transition: all 150ms;
}
a:hover {
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-decoration: underline;
}
form {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--fondo);
  border-radius: 0.5rem;
  padding: 2.5rem;
}
input {
  font-size: 1rem;
  line-height: normal;
}
#__next {
  height: 100%;
}

.textfield {
  display: flex;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.5rem;
  border-color: black;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
.gapCampos {
  gap: 0.625rem;
}
.error {
  color: red;
  text-align: center;
}

/* Botones */
.azul {
  background-color: var(--azul);
}
.textoAzul {
  color: var(--azul);
}
.naranja {
  background-color: var(--naranja);
}
.fondo {
  background-color: var(--fondo);
}
.botonLike {
  width: fit-content;
  height: fit-content;
  border: solid;
  border-width: 2px;
  border-radius: 0.5rem;
  border-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  align-items: center;
  transition: all 150ms;
}
.botonLike:hover {
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.75rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*-------------------------*/

/* Barra de Navegación */
.navigationGroup {
  top: 0px;
  position: sticky;
  z-index: 50;
}
.navigationBar {
  display: flex;
  background-color: var(--fondo);
  height: 6rem;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navigationLeftOptions {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.botonHome {
  width: 9rem;
  height: 4rem;
  background-image: var(--logo);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 150ms;
}
.botonHome:hover {
  width: 10rem;
  height: 4rem;
  box-shadow: none;
}
.margin-right-2 {
  margin-right: 2rem;
}
.menuNavBar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.botonIcon {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 150ms;
}
.botonIcon:hover {
  cursor: pointer;
  background-color: var(--naranja);
}
.botonIcon:focus {
  background-color: var(--naranja);
}
/*-------------------------*/

/* Aprender y Practicar*/
.slideSection {
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: all 500ms;
}
.slideSection:hover {
  width: 500%;
}
.slideImage {
  width: 100%;
  height: 100%;
  filter: brightness(40%);
  object-fit: cover;
  z-index: 0;
}
.slideText {
  z-index: 10;
  overflow: clip;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  width: 100%;
  height: 100%;
  inset: 0;
  position: absolute;
  justify-content: center;
}
.slideSelector {
  display: flex;
  gap: 4px;
  width: 100%;
  height: 40vw;
}
.tituloSlide {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 900;
  color: var(--fondo);
  text-align: center;
}
.subtituloSlide {
  display: none;
  opacity: 0%;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
  color: var(--fondo);
  text-align: center;
  transition: all 300ms;
}
.instruccionSlide {
  display: none;
  opacity: 0%;
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-decoration: underline;
  color: var(--fondo);
  text-align: center;
  transition: all 300ms;
}
.slideSection:hover p {
  display: block;
  animation: unhidde 300ms ease-in 300ms 1 normal forwards;
}
/*-------------------------*/

/* Login page */
.fondoForms {
  width: 100%;
  height: 100%;
  background-image: var(--placeholder);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.backdropFondo {
  display: flex;
  gap: 10rem;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  backdrop-filter: brightness(40%);
}
.formGrueso {
  width: 25rem;
}
.formDelgado {
  width: 20rem;
}
.logoEnLogin {
  width: 33.333333%;
  height: fit-content;
}